$navbarHeight: 3.6rem;
$sidebarWidth: 20rem;
$contentWidth: 740px;
$homePageWidth: 960px;

$MQNarrow: 959px;
$MQMobile: 719px;
$MQMobileNarrow: 419px;

$lineNumbersWrapperWidth: 3.5rem;
$codeLang: js, ts, html, md, vue, css, sass, scss, less, stylus, go, java, c, sh,
  yaml, py, docker, dockerfile, makefile;

$primary: rgb(26, 92, 255);
$themeBg: rgb(244, 247, 248);
$borderColor: rgb(234, 236, 239);
$themeColor: rgb(44, 62, 80);
$themeLayout: rgb(255, 255, 255);
$themeBg2: rgb(238, 242, 245);
$themeCode: rgb(63, 61, 86);
$themeCode2: rgb(54, 52, 73);

$accentColor: rgb(37, 100, 255);
// $accentColor = #111214
$textColor: rgb(176, 180, 190);
$codeBgColor: rgb(63, 61, 86);
$arrowBgColor: #cccccc;
$badgeTipColor: #42b983;

// vuesax-theme vars
$bgColor: rgb(222, 231, 234);
$layoutColor: rgb(255, 255, 255);
