:root {
  --vs-primary: 26, 92, 255;
  --vs-theme-bg: 244, 247, 248;
  --vs-theme-color: 44, 62, 80;
  --vs-theme-layout: 255, 255, 255;
  --vs-theme-bg2: 238, 242, 245;
  --vs-theme-code: 63, 61, 86;
  --vs-theme-code2: 54, 52, 73;

  --vs-accent-color: 37, 100, 255;
  // $accentColor = #111214
  --vs-text-color: 176, 180, 190;
  --vs-code-bg-color: 63, 61, 86;
  
  // vuesax-theme vars
  --vs-bg-color: 222, 231, 234;
  --vs-layout-color: 255, 255, 255;
}