$navbarHeight: 3.6rem;
$sidebarWidth: 20rem;
$contentWidth: 740px;
$homePageWidth: 960px;

$MQNarrow: 959px;
$MQMobile: 719px;
$MQMobileNarrow: 419px;

$lineNumbersWrapperWidth: 3.5rem;
$codeLang: js, ts, html, md, vue, css, sass, scss, less, stylus, go, java, c, sh,
  yaml, py, docker, dockerfile, makefile;

$primary: rgb(26, 92, 255);
$themeBg: rgb(244, 247, 248);
$borderColor: rgb(234, 236, 239);
$themeColor: rgb(44, 62, 80);
$themeLayout: rgb(255, 255, 255);
$themeBg2: rgb(238, 242, 245);
$themeCode: rgb(63, 61, 86);
$themeCode2: rgb(54, 52, 73);

$accentColor: rgb(37, 100, 255);
// $accentColor = #111214
$textColor: rgb(176, 180, 190);
$codeBgColor: rgb(63, 61, 86);
$arrowBgColor: #cccccc;
$badgeTipColor: #42b983;

// vuesax-theme vars
$bgColor: rgb(222, 231, 234);
$layoutColor: rgb(255, 255, 255);

:root {
  --vs-primary: 26, 92, 255;
  --vs-theme-bg: 244, 247, 248;
  --vs-theme-color: 44, 62, 80;
  --vs-theme-layout: 255, 255, 255;
  --vs-theme-bg2: 238, 242, 245;
  --vs-theme-code: 63, 61, 86;
  --vs-theme-code2: 54, 52, 73;

  --vs-border-color: 234, 236, 239;
  --vs-accent-color: 37, 100, 255;
  --vs-text-color: 176, 180, 190;
  --vs-code-bg-color: 63, 61, 86;
  --vs-arrow-bg-color: 204, 204, 204;
  --vs-badge-tip-color: 66, 185, 131;
  // vuesax-theme vars
  --vs-bg-color: 222, 231, 234;
  --vs-layout-color: 255, 255, 255;

  // layout
  --vs-navbar-height: 3.6rem;
  --vs-sidebar-width: 20rem;
  --vs-content-width: 740px;
  --vs-home-page-width: 960px;

  // responsive breakpoints
  --vs-mq-not-arrow: 959px;
  --vs-mq-mobile: 719px;
  --vs-mq-mobile-not-arrow: 419px;

  --vs-line-numbers-wrapper-width: 3.5rem;
}
