@import "./_use.scss";

@font-face {
  font-family: "Poppins";
  src: url("/Poppins/Poppins-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  display: block;
  background: -color('theme-layout');
}
*::-webkit-scrollbar-thumb {
  background: -color('theme-color');
  border-radius: 5px;
}
::selection {
  background: rgba(37, 100, 255, 0.15);
}
.all-transition {
  * {
    transition: all 0s !important;
  }
}
.has-darken {
  display: none;
}
.darken {
  .data {
    background: rgba(0, 0, 0, 0.3) !important;
  }
  .has-darken {
    display: block;
  }
  .not-darken {
    display: none;
  }
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  flex-wrap: wrap;
}

.vs-clipboard {
  opacity: 0;
  position: fixed;
  bottom: 0px;
  right: 0px;
  pointer-events: none;
}
box-icon {
  fill: -color('theme-color');
  g {
    fill: -color('theme-color');
  }
}
.hidden-sidebar {
  .config {
    left: 0px !important;
    .hidden-sidebar-hidden {
      display: none;
    }
    .visible-sidebar-hidden {
      display: block;
    }
  }
  .sidebar {
    transform: translate(-100%) !important;
  }
}
.hidden-sidebar .page,
.hidden-sidebar .docs-home {
  margin-left: 0px !important;
  width: 100%;
}
.hidden-sidebar .page .sidebar,
.hidden-sidebar .docs-home .sidebar {
  transform: translate(0%) !important;
}
html,
body {
  padding: 0;
  margin: 0;
  background-color: -color('theme-layout');
  color: -color('theme-color') !important;
}
svg {
  max-width: unset !important;
}
body {
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}
input {
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
button {
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
* {
  box-sizing: border-box;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}
.page {
  margin-left: 260px;
  padding-left: 0px !important;
  background-color: -color('theme-bg') !important;
}
.navbar {
  position: fixed;
  z-index: 20000;
  top: 0;
  right: 0px;
  left: auto;
  height: auto;
  background-color: -color('theme-layout');
  box-sizing: border-box;
  border-bottom: 0px !important;
  width: 100%;
}
.sidebar-mask {
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  background: rgba(0, 0, 0, 0.3);
}
.sidebar {
  font-size: 16px;
  background: -color('theme-layout');
  width: 260px;
  position: fixed;
  z-index: 10;
  margin: 0;
  top: 57px;
  left: 0;
  bottom: 0;
  box-sizing: border-box;
  border-right: 0px;
  overflow-y: auto;
}

.content:not(.custom) {
  @include wrapper;
  > *:first-child {
    margin-top: $navbarHeight;
  }
  a:hover {
    text-decoration: underline;
  }
  p.demo {
    padding: 1rem 1.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  img {
    max-width: 100%;
  }
}
.content {
  &.custom {
    padding: 0;
    margin: 0;
    img {
      max-width: 100%;
    }
  }
}
a {
  font-weight: 500;
  color: -color("theme-color");
  text-decoration: none;
}
p {
  a {
    code {
      font-weight: 400;
      color: -color("theme-color");
    }
  }
}
kbd {
  background: #eee;
  border: solid 0.15rem #ddd;
  border-bottom: solid 0.25rem #ddd;
  border-radius: 0.15rem;
  padding: 0 0.15em;
}
blockquote {
  font-size: 0.9rem;
  color: #999;
  border-left: 0.5rem solid #dfe2e5;
  margin: 0.5rem 0;
  padding: 0.25rem 0 0.25rem 1rem;
  & > p {
    margin: 0;
  }
}
ul,
ol {
  padding-left: 1.2em;
}
strong {
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 1.25;
  .content:not(.custom) > & {
    margin-top: 0.5rem - $navbarHeight;
    padding-top: $navbarHeight + 1rem;
    margin-bottom: 0;
    &:first-child {
      margin-top: -1.5rem;
      margin-bottom: 1rem;
      + p,
      + pre,
      + .custom-block {
        margin-top: 2rem;
      }
    }
  }
  &:hover .header-anchor {
    opacity: 1;
  }
}

h1 {
  font-size: 2.2rem;
}
h2 {
  font-size: 1.5rem;
  padding-bottom: 0.3rem;
  border-bottom: 1px solid -color('border-color');
  font-weight: 600;
}
h3 {
  font-size: 1.35rem;
}
a {
  &.header-anchor {
    font-size: 0.85em;
    float: left;
    margin-left: -0.87em;
    padding-right: 0.23em;
    margin-top: 0.125em;
    opacity: 0;
    &:hover {
      text-decoration: none;
    }
  }
}
code,
kbd,
.line-number {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
p,
ul,
ol {
  line-height: 1.7;
}

hr {
  border: 0;
  border-top: 1px solid -color('border-color');
}
table {
  border-collapse: collapse;
  margin: 1rem 0;
  overflow-x: auto;
}
tr {
  border-top: 1px solid #dfe2e5;
  &:nth-child(2n) {
    background-color: transparent;
  }
}
th,
td {
  border: 1px solid #dfe2e5;
  padding: 0.6em 1em;
}
.theme-container {
  &.sidebar-open {
    .sidebar-mask {
      display: block;
    }
  }
  &.no-navbar {
    .sidebar {
      top: 0;
    }
  }
}
.theme-container.no-navbar .content:not(.custom) > h1,
.theme-container.no-navbar h2,
.theme-container.no-navbar h3,
.theme-container.no-navbar h4,
.theme-container.no-navbar h5,
.theme-container.no-navbar h6 {
  margin-top: 1.5rem;
  padding-top: 0;
}
.no-sidebar {
  .navbar {
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
    &.fixed {
      box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.04);
    }
  }
}
@media (min-width: 1080px) {
  .theme-container.no-sidebar .sidebar {
    display: none;
  }
}
.theme-container {
  &.no-sidebar {
    .page {
      padding-left: 0;
    }
  }
}
