@use 'sass:map';

@use 'mixins/mixins' as *;
@use 'common/var' as *;

// .#{$namespace}-icon-loading {
//   animation: rotating 2s linear infinite;
// }

.#{$namespace}-icon--right {
  margin-left: 5px;
}
.#{$namespace}-icon--left {
  margin-right: 5px;
}

@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@include b(icon) {
  --color: inherit;
  height: 1em;
  width: 1em;
  line-height: 1em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  fill: currentColor;
  color: var(--color);
  font-size: inherit;

  @include when(loading) {
    animation: rotating 2s linear infinite;
  }

  svg {
    height: 1em;
    width: 1em;
  }
}

@include b(icon-arrow) {
  pointer-events: none;
  width: 7px;
  height: 7px;
  transform: rotate(-135deg);
  transition: getCssVar(transition-ease);
  transform-origin: center;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0px;
    display: block;
    border-radius: 2px;
    width: 100%;
    height: 1px;
    background: getColor(text);
  }

  @include pseudo(before) {
    height: 100%;
    width: 1px;
  }

  @include pseudo(after) {
    width: 100%;
    height: 1px;
  }
}

// icon check
@include b(icon-check) {
  @include set-component-var(icheck, $iconCheck);

  @include flex(center, center);
  height: getCssVar(icheck, height);
  width: getCssVar(icheck, height);
  transition: getCssVar(transition-ease);
  border-radius: inherit;

  span {
    transform: rotate(45deg);
    display: block;
    position: relative;
    width: 8px;
    height: 13px;
    margin-top: -4px;

    .line1 {
      background: transparent;
      content: '';
      position: absolute;
      height: 2px;
      transition: all getCssVar(transition-duration-fast) ease;
      border-radius: getCssVar(icheck, line-radius);
      z-index: 100;
      width: 8px;
      bottom: 0;

      &:after {
        content: '';
        position: absolute;
        width: 0;
        height: 2px;
        background: $color-white;
        transition: getCssVar(transition-ease);
        border-radius: inherit;
        left: auto;
        right: 0;
      }
    }
    .line2 {
      bottom: 0;
      right: 0;
      z-index: 100;
      border-radius: getCssVar(icheck, line-radius);
      background: transparent;
      content: '';
      position: absolute;
      height: 13px;
      transition: all getCssVar(transition-duration-fast)
        getCssVar(transition-function-ease);
      width: 2px;
      &:after {
        content: '';
        position: absolute;
        width: 2px;
        height: 0;
        background: $color-white;
        transition: getCssVar(transition-ease);
        bottom: 0;
        border-radius: inherit;
      }
    }
  }

  @include when(active) {
    &:before {
      width: 8px;
    }
    &:after {
      width: 4px;
    }
  }

  @include when(indeterminate) {
    span {
      transform: rotate(0);
      height: auto;
      margin: 0;
      width: 0;

      &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 0; // checked -> 10px
        height: 2px;
        border-radius: 2px;
        background: $color-white;
        display: block;
        transition: getCssVar(transition-ease);
      }
      .line1 {
        transform: rotate(-45deg);
        bottom: 0;
        right: -1px;
        opacity: 0;
        display: none;
      }
      .line2 {
        right: 0 !important;
        bottom: -14px !important;
        transform: rotate(45deg) !important;
        transition: getCssVar(transition-ease) !important;
        height: 11px !important;
        display: none;
      }
    }
  }
}

// icon close
@include b(icon-close) {
  @include set-component-var(iclose, $icon);
  width: getCssVar(iclose, height);
  height: getCssVar(iclose, height);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: getCssVar(transition-ease);

  &::before,
  &::after {
    background: getColor(color);
    content: '';
    position: absolute;
    width: 16px;
    height: 2px;
    border-radius: 2px;
    transition: getCssVar(transition-ease);
  }

  @include pseudo(before) {
    transform: rotate(-45deg);
  }
  @include pseudo(after) {
    transform: rotate(45deg);
  }
  &-hover--less {
    &:hover {
      &:before,
      &:after {
        width: 12px;
        transform: rotate(180deg);
      }
    }
  }
}

// icon loading
@include b(icon-loading) {
  @include absolute-full;
  margin: auto;
  width: 100%;
  max-width: 50px;
  max-height: 50px;

  border-radius: getCssVar('border-radius-full');
  z-index: 999999;
  color: getColor(color);
  transition: getCssVar(transition-ease);

  @include e(item) {
    @include absolute-full;
    border-radius: inherit;

    .path {
      stroke: currentColor;
      stroke-width: 10;
      stroke-linecap: round;
      stroke-linejoin: round;
      fill: none;
    }
  }
  @include e(1) {
    animation: rotating 0.88s ease infinite 0.11s;

    .path {
      stroke-dasharray: 60 150;
    }
  }
  @include e(2) {
    opacity: 0.6;
    animation: rotating 0.88s linear infinite;

    .path {
      stroke-dasharray: 5 130;
    }
  }
}

// icon plus
@include b(icon-plus) {
  @include set-component-var(iplus, $icon);

  @include flex(center, center);
  width: getCssVar(iplus, height);
  height: getCssVar(iplus, height);
  position: relative;
  transition: getCssVar(transition-ease);
  cursor: pointer;

  &:before,
  &::after {
    background: getColor(color);
    content: '';
    position: absolute;
    width: 14px;
    height: 2px;
    border-radius: 2px;
  }
  @include pseudo(before) {
    transform: rotate(0);
    transition: getCssVar(transition-ease);
  }
  @include pseudo(after) {
    transform: rotate(90deg);
    transition: all 0.4s ease;
  }

  &:hover:not(.is-less) {
    transform: rotate(-90deg);
  }

  @include when(less) {
    @include pseudo(hover) {
      transform: scale(0.75);
    }
    @include pseudo(after) {
      transform: rotate(180deg);
    }
  }
}
