@use 'mixins/mixins' as *;
@use 'mixins/var' as *;
@use 'common/var' as *;

@include b(navbar-item) {
  padding: 10px 15px;
  margin: 0px;
  border: 0px;
  background: transparent;
  font-size: 14px;
  opacity: 0.6;
  transition: getCssVar(transition-ease), color 0s;
  font-weight: 600;
  color: inherit;

  @include when(active) {
    opacity: 1;
  }

  @include when(external) {
    display: flex !important;
    align-items: center;
    gap: 4px;
  }

  &:hover {
    opacity: 1;
  }

  @include e(arrow) {
    transform: translateY(2px);
  }
}
