@use 'mixins/mixins' as *;
@use 'mixins/var' as *;
@use 'common/var' as *;

@include b(navbar) {
  @include set-var-value(color, getCssVar(background));

  width: 100%;
  position: absolute;
  z-index: 9000;
  top: 0px;
  left: 0px;
  width: 100%;
  border-radius: 0px 0px 15px 15px;
  background: getColor(color);
  transition: getCssVar(transition-ease);
  color: getColor(text);

  @include when(padding-scroll) {
    &:not(.is-padding-scroll-active) {
      padding-top: 20px;
      padding-bottom: 20px;

      @include e(group) {
        @include m(items) {
          margin-bottom: -30px;
        }
      }
    }
  }

  @include when(square) {
    border-radius: 0px;
  }

  @include when(text-white) {
    color: $color-white;
    @include e(line) {
      background: $color-white;
    }
    @include e(item) {
      &:before {
        background: $color-white;
      }
    }
  }

  @include when(fixed) {
    position: fixed !important;
  }

  &.is-shadow,
  &.is-shadow-active {
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, getCssVar('shadow-opacity'));
  }

  @include when(hidden) {
    transform: translate(0, -100%);
  }

  @include e(content) {
    width: 100%;
    position: relative;
    @include flex(space-between, center);
    padding: 0px 15px;
    box-sizing: border-box;
    min-height: 44px;
  }

  @include e(left) {
    @include flex(flex-start, center);
  }

  @include e(right) {
    @include flex(flex-end, center);
  }

  @include e(center) {
    @include flex(center, center);
  }

  @include e(line) {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100px;
    background: getColor('text');
    height: 3px;
    transition: getCssVar(transition-ease);

    @include when(not-transition) {
      transition: none !important;
    }
  }
}
