@use 'mixins/mixins' as *;
@use 'mixins/var' as *;
@use 'common/var' as *;

@include b(option-group) {
  padding-left: 10px;
  border-bottom: 2px solid getColor(gray-1);
  position: relative;
  overflow: hidden;
  transition: getCssVar(transition-ease);

  &:last-child {
    border: 0px;
  }

  @include when(hidden) {
    border-bottom: 0px solid getColor(gray-1);
    h5 {
      opacity: 0;
      visibility: hidden;
      max-height: 0px;
      padding-top: 0px;
      padding-bottom: 0px;
      border: 0px;
      margin: 0px;
      padding: 0px;
      max-height: 0px;
    }
  }

  h5 {
    max-height: 28px;
    transition: getCssVar(transition-ease);
    // opacity: 0.6;
    margin: 0px;
    padding: 0px;
    padding: 7px 0px;
    font-size: 0.7rem;
    user-select: none;
    overflow: hidden;
    color: getColor(text, 0.6);

    * {
      pointer-events: none;
    }
  }
}
