@use 'common/var' as *;
@use 'mixins/mixins' as *;
@use 'mixins/config' as *;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:wght@400;500;700&display=swap');

[class^='#{$namespace}'] {
  outline: none;
  list-style: none;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif !important;
}

body {
  // font-size: getCssVar('font-size', 'medium');
  // color: getCssVar('text-color');
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
}

[disabled='true'],
.disabled {
  opacity: 0.65;
  cursor: default;
  pointer-events: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
html {
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: none;
}
body {
  line-height: 1.5;
}
a {
  text-decoration: none;
  color: inherit;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  outline: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//   color: getCssVar('text-color', 'regular');
//   font-weight: inherit;

//   &:first-child {
//     margin-top: 0;
//   }

//   &:last-child {
//     margin-bottom: 0;
//   }
// }

// h1 {
//   font-size: calc(getCssVar('font-size', 'base') + 6px);
// }

// h2 {
//   font-size: calc(getCssVar('font-size', 'base') + 4px);
// }

// h3 {
//   font-size: calc(getCssVar('font-size', 'base') + 2px);
// }

// h4,
// h5,
// h6,
// p {
//   font-size: inherit;
// }

// p {
//   line-height: 1.8;

//   &:first-child {
//     margin-top: 0;
//   }

//   &:last-child {
//     margin-bottom: 0;
//   }
// }

// sup,
// sub {
//   font-size: calc(getCssVar('font-size', 'base') - 1px);
// }

// small {
//   font-size: calc(getCssVar('font-size', 'base') - 2px);
// }

// hr {
//   margin-top: 20px;
//   margin-bottom: 20px;
//   border: 0;
//   border-top: 1px solid getCssVar('border-color', 'lighter');
// }

/* clears the 'X' from Internet Explorer */
input.hide-clear[type='search']::-ms-clear,
input.hide-clear[type='search']::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* clears the 'X' from Chrome */
input.hide-clear[type='search']::-webkit-search-decoration,
input.hide-clear[type='search']::-webkit-search-cancel-button,
input.hide-clear[type='search']::-webkit-search-results-button,
input.hide-clear[type='search']::-webkit-search-results-decoration {
  display: none;
}

.#{$namespace}-remove-transition {
  *,
  *:after,
  *:before {
    transition: all 0s !important;
  }
}
