@use 'mixins/mixins' as *;
@use 'mixins/var' as *;
@use 'common/var' as *;

$clearableRight: 34px;
$iconActiveMargin: -4px;

.#{$namespace}-select-enter-active,
.#{$namespace}-select-leave-active {
  transition: all 0.25s ease;
}
.#{$namespace}-select-enter-from,
.#{$namespace}-select-leave-to {
  opacity: 0;
  &[data-popper-placement='top'] {
    transform: translate(0, 5px);
  }
  &[data-popper-placement='bottom'] {
    transform: translate(0, -5px);
  }
  &[data-popper-placement='left'] {
    transform: translate(5px);
  }
  &[data-popper-placement='right'] {
    transform: translate(-5px);
  }
}

.v-clearable {
  &-enter-active {
    animation: v-clearable 0.25s ease forwards;
  }
  &-leave-active {
    animation: v-clearable 0.25s ease reverse;
  }
}

@keyframes v-clearable {
  0% {
    right: 10px;
    opacity: 0.2;
  }
  10% {
    opacity: 0.7;
  }
  100% {
    right: $clearableRight;
  }
}

@mixin state($color) {
  @include e(input) {
    background: getColor($color, 0.05);
    color: getColor($color, 1);
    &:hover {
      color: getColor('text', 1);
    }
  }

  @include e(chips) {
    background: getColor($color, 0.05);
    color: getColor($color, 1);
    &:hover {
      &:after {
        opacity: 0;
      }
    }
    &:after {
      width: 100%;
      height: 100%;
      content: '';
      position: absolute;
      z-index: -1;
      top: 0px;
      left: 0px;
      border: 2px solid getColor($color, 0.5);
      border-radius: inherit;
      transition: all 0.25s ease;
    }
  }
  @include e(label) {
    color: getColor($color, 1);
  }
  @include e(icon) {
    color: getColor($color, 1);
    background: getColor($color, 0.1);
    box-shadow: -15px 10px 10px -10px getColor($color, 0.1);
  }
  @include e(arrow) {
    color: getColor($color);
  }
  ~ div .#{$namespace}-select__message--#{$color} {
    color: getColor($color, 1);
  }
}

@include b(select) {
  @include set-component-var('select', $select);
}

@include b(select) {
  position: relative;
  display: flex;
  // align-items: center;
  justify-content: center;
  min-height: 38px;
  width: 100%;
  max-width: getCssVar(select-width);

  @include e(content) {
    &[data-popper-placement^='top'] {
      border-radius: 12px 12px 0px 0px;
      box-shadow: 0px -10px 20px -5px
        rgba(0, 0, 0, var(--#{$namespace}-shadow-opacity));
    }
    margin-top: -4px;
    overflow: hidden;
    background: getColor('background');
    color: getColor(color);
    border-radius: 0 0 12px 12px;
    box-shadow: 0px 10px 20px -5px rgba(0, 0, 0, var(--#{$namespace}-shadow-opacity));
  }

  @include e(state) {
    @include m(success) {
      @include state('success');
    }
    @include m(danger) {
      @include state('danger');
    }
    @include m(warn) {
      @include state('warn');
    }
    @include m(dark) {
      @include state('dark');
    }
    @include m(primary) {
      @include state('primary');
    }
  }

  @include when(loading) {
    pointer-events: none;
    *:not(.#{$namespace}-select__loading):not(.#{$namespace}-select__label) {
      opacity: 0.6;
    }
    .#{$namespace}-select__label {
      pointer-events: none !important;
    }
  }

  @include when(disabled) {
    pointer-events: none;
    * {
      opacity: 0.6;
    }

    label {
      opacity: 1;
      pointer-events: none;
    }
  }
  @include e(arrow) {
    position: absolute;
    color: getColor(text, 0.6);
    right: 10px;
    top: 20px;
    transform: translateY(-50%);
    transition: all 0.25s ease;
    cursor: pointer;
  }
  @include e(clearable) {
    @include set-var-value(color, getCssVar(text));
    @include flex(center, center);

    position: absolute;
    right: 10px;
    margin-top: 0;
    top: 20px;
    transform: translateY(-50%);
    width: 22px;
    height: 22px;
    border-radius: 9999px;
    cursor: pointer;
    // background-color: getColor('gray-2');
    transition: all 0.25s ease;
    z-index: 9;

    margin-top: $iconActiveMargin;
    right: $clearableRight;
  }
  @include e(input) {
    opacity: 1;
    border: 2px solid transparent;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.25s ease, height 0s;
    background: getColor('gray-2');
    color: getColor('text');
    min-height: 38px;
    padding: 7px 30px 7px 10px;
    width: 100%;

    @include when(multiple) {
      color: transparent;
      background: transparent;
      pointer-events: none;
    }

    @include when(simple) {
      cursor: pointer;
      user-select: none;
    }

    &-filter {
      position: absolute;
      z-index: 1;
      background: transparent;
      box-shadow: none;
      color: transparent;

      &::placeholder {
        font-weight: 100;
      }
    }
  }
  @include e(chips) {
    width: 100%;
    height: max-content;
    position: absolute;
    left: 0px;
    background: getColor('gray-2');
    z-index: 300;
    border-radius: 12px;
    display: flex;
    border: 0px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 5px;
    min-height: 38px;
    transition: all 0.25s ease, height 0s;
    padding-right: 26px;

    &__input {
      width: auto;
      flex: 1;
      padding: 2px 0;
      max-width: 100%;
      position: relative;
      min-width: 0px;
      border: 0px solid transparent;
      background: transparent;
      margin: 2px 3px;
      min-width: 30px;
      color: getColor('text');
      transition: all 0.15s linear;

      &::placeholder {
        color: getColor('text', 0.4);
      }

      &:focus {
        padding-left: 4px;
      }
    }
    &__chip {
      flex: 0 1 auto;
      position: relative;
      background: getColor('background');
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 2px 4px 2px 6px;
      margin: 2px 3px;
      font-size: 0.84rem;
      border: 2px solid getColor('gray-2');
      box-sizing: border-box;
      color: getColor('text');
      &.isCollapse {
        padding-right: 6px !important;
      }
      &.disabled {
        background-color: getColor('gray-2');
        border-color: transparent;
      }
      &__close {
        margin-left: 6px;
        width: 15px;
        height: 15px;
        background: getColor('gray-3');
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        font-size: 0.75rem;
        cursor: pointer;
        transition: all 0.25s ease;

        &:hover {
          background: getColor('danger');

          .#{$namespace}-icon-close {
            @include set-var-value(color, getCssVar(background));
            &:after {
              width: 12px;
              transform: rotate(180deg);
            }
            &:before {
              width: 12px;
              transform: rotate(180deg);
            }
          }
        }
        .#{$namespace}-icon-close {
          @include set-var-value(color, getCssVar(text));
          transform: scale(0.5);
        }
      }
    }
  }
  @include m(has-label) {
    margin-top: 24px !important;
  }

  @include e(option) {
    @include flex(flex-start, center);
    border: 0px;
    width: 100%;
    padding: 6px 10px;
    text-align: left;
    background: transparent;
    transition: all 0.25s ease;
    color: getColor('text');
    border-radius: 8px;
    box-shadow: 0px 0px 0px 0px
      rgba(0, 0, 0, var(--#{$namespace}-shadow-opacity));
    margin: 2px 0px;
    overflow: hidden;
    opacity: 1;
    visibility: visible;
    max-height: 40px;

    @include when(hidden) {
      // display: none
      opacity: 0;
      visibility: hidden;
      max-height: 0px;
      padding-top: 0px;
      padding-bottom: 0px;
      border: 0px;
      margin: 0px;
    }

    .is-hover,
    &:hover {
      background: getColor('color', 0.01);
    }

    @include when(active) {
      background: getColor('color', 0.05);
      color: getColor('color', 1);
      pointer-events: none;
    }
    &:hover:not(.is-disabled) {
      color: getColor('color');
      padding-left: 14px;
    }

    @include when(disabled) {
      opacity: 0.6212;
      background: transparent;
      cursor: default;
    }
  }
  @include when(hovering) {
    @include e(arrow) {
      transform: translateY(calc(-50% - 4px));
    }
    @include e(input) {
      transform: translateY(-4px);
      background: getColor('background');
    }
    @include e(label) {
      @include when(placeholder) {
        top: 50%;
        transform: translateY(calc(-50% - 4px));
      }
    }
    @include e(placeholder) {
      transform: translateY(calc(-50% - 4px));
    }
  }
  @include when(open) {
    @include e(arrow) {
      transform: translateY(calc(-50% - 4px)) rotate(180deg);
      margin-top: -2px !important;
    }
    @include e(input) {
      border-radius: 12px 12px 0px 0px;
      background: getColor('background');
      box-shadow: 0px 5px 25px -4px rgba(0, 0, 0, var(--#{$namespace}-shadow-opacity));
      transition: all 0.25s ease, height 0s;
      border: 2px solid transparent;
      color: getColor('text');
      padding-left: 13px;
      transform: translateY(-4px);

      &-filter {
        background: transparent;
        box-shadow: none;

        &::placeholder {
          font-weight: 400;
        }
      }
    }
    @include e(label) {
      top: 0;
      transform: translateY(calc(-100% - getCssVar(select-label-offset)));

      @include when(placeholder) {
        top: 50%;
        transform: translateY(calc(-50% - 4px));
      }
    }
    @include e(placeholder) {
      transform: translateY(calc(-50% - 4px));
      left: calc(getCssVar(select-label-left) + 4px);
      font-size: 0.75rem;
    }

    @include e(clearable) {
      margin-top: $iconActiveMargin;
      right: $clearableRight;
    }
    @include e(chips) {
      border-radius: 12px 12px 0px 0px;
      background: getColor('background');
      box-shadow: 0px 5px 25px -4px rgba(0, 0, 0, var(--#{$namespace}-shadow-opacity));
      transform: translate(0, -4px);
      transition: all 0.25s ease, height 0s;
      &:after {
        opacity: 0;
      }
    }
    @include e(label) {
      margin-top: -4px;

      @include when(placeholder) {
        margin-top: -30px;
        opacity: 1;
        font-size: 0.75rem;
      }
    }

    @include when(top) {
      .#{$namespace}-select__input,
      .#{$namespace}-select__chips {
        border-radius: 0px 0px 12px 12px !important;
        box-shadow: 0px -5px 25px -4px
          rgba(0, 0, 0, var(--#{$namespace}-shadow-opacity)) !important;
      }
    }
  }
  @include e(options) {
    padding: 5px;

    &__not-data {
      color: getColor('text');
      font-size: 0.8rem;
      text-align: center;
      padding: 6px 10px;
    }
  }
  @include e(label) {
    position: absolute;
    left: getCssVar(select-label-left);
    top: 0;
    transform: translateY(calc(-100% - getCssVar(select-label-offset)));
    font-size: getCssVar(select-label-font-size);
    transition: getCssVar(transition-ease);
    cursor: default;
    max-width: calc(100% - getCssVar(select-label-left));
    z-index: 500;
    color: getColor('text');

    @include when(placeholder) {
      top: 50%;
      transform: translateY(-50%);
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
      font-size: getCssVar(select-placeholder-font-size);
      opacity: 0.4;
      color: getColor('text');
    }
  }
  @include e(placeholder) {
    position: absolute;
    left: getCssVar(select-label-left);
    top: 50%;
    transform: translateY(-50%);
    font-size: getCssVar(select-placeholder-font-size);
    transition: getCssVar(transition-ease);
    cursor: default;
    user-select: none;
    pointer-events: none;
    opacity: 0.4;
    width: 100%;
    word-wrap: break-word;
    z-index: 10;
    color: getColor('text');

    @include when(hidden) {
      opacity: 0;
      visibility: hidden;
    }
  }
  @include e(loading) {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 7px;
    left: auto;
    pointer-events: none;
    border-radius: 50%;
    box-sizing: border-box;
    background: inherit;
    cursor: default;
    z-index: 600;

    * {
      opacity: 1 !important;
    }

    ~ .#{$namespace}-select__arrow,
    ~ .#{$namespace}-select__clearable {
      opacity: 0 !important;
    }
  }
  @include e(message) {
    font-size: 0.7rem;
    padding: 0px 7px;
    overflow: hidden;
    height: auto;
    transition: all 0.25s ease;

    &--success {
      color: getColor('success');
    }
    &--danger {
      color: getColor('danger');
    }
    &--warn {
      color: getColor('warn');
    }
    &--dark {
      color: getColor('dark');
    }
    &--primary {
      color: getColor('primary');
    }
  }
}
