:root {
  --vsd-primary: 26, 92, 255;
  --vsd-theme-bg: 244, 247, 248;
  --vsd-theme-color: 44, 62, 80;
  --vsd-theme-layout: 255, 255, 255;
  --vsd-theme-bg2: 238, 242, 245;
  --vsd-theme-code: 63, 61, 86;
  --vsd-theme-code2: 54, 52, 73;

  --vsd-border-color: 234, 236, 239;
  --vsd-accent-color: 37, 100, 255;
  --vsd-text-color: 176, 180, 190;
  --vsd-code-bg-color: 63, 61, 86;
  --vsd-arrow-bg-color: 204, 204, 204;
  --vsd-badge-tip-color: 66, 185, 131;
  // vuesax-theme vars
  --vsd-bg-color: 222, 231, 234;
  --vsd-layout-color: 255, 255, 255;

  // layout
  --vsd-navbar-height: 3.6rem;
  --vsd-sidebar-width: 20rem;
  --vsd-content-width: 740px;
  --vsd-home-page-width: 960px;

  // responsive breakpoints
  --vsd-mq-not-arrow: 959px;
  --vsd-mq-mobile: 719px;
  --vsd-mq-mobile-not-arrow: 419px;

  --vsd-line-numbers-wrapper-width: 3.5rem;
}

.dark {
  --vsd-theme-bg: 24, 25, 28;
  --vsd-theme-color: 255, 255, 255;
  --vsd-theme-layout: 30, 32, 35;
  --vsd-theme-bg2: 20, 20, 23;
  --vsd-theme-code: 20, 20, 23;
  --vsd-theme-code2: 22, 22, 25;
}
