/* Vuesax Chalk Variables */
@use 'sass:math';
@use 'sass:map';

@use '../mixins/function.scss' as *;

// Special comment for theme configurator
// type|skipAutoTranslation|Category|Order
// skipAutoTranslation 1

// types
$types: primary, success, warn, danger, error, info, dark, light;

// Color
$colors: () !default;
$colors: map.deep-merge(
  (
    'color': #111214,
    'white': #ffffff,
    'black': #000000,
    'primary': (
      'base': #195bff,
    ),
    'success': (
      'base': #46c93a,
    ),
    'warn': (
      'base': #ffba00,
    ),
    'danger': (
      'base': #ff4757,
    ),
    'error': (
      'base': #ff4757,
    ),
    'info': (
      'base': #909399,
    ),
    'dark': (
      'base': #1e1e1e,
    ),
    'light': (
      'base': #f4f7f8,
    ),
  ),
  $colors
);

$color-base: map.get($colors, 'color') !default;
$color-white: map.get($colors, 'white') !default;
$color-black: map.get($colors, 'black') !default;
$color-dark: map.get($colors, 'dark', 'base') !default;
$color-light: map.get($colors, 'light', 'base') !default;
$color-primary: map.get($colors, 'primary', 'base') !default;
$color-success: map.get($colors, 'success', 'base') !default;
$color-warn: map.get($colors, 'warn', 'base') !default;
$color-danger: map.get($colors, 'danger', 'base') !default;
$color-error: map.get($colors, 'error', 'base') !default;
$color-info: map.get($colors, 'info', 'base') !default;
$color-info: map.get($colors, 'dark', 'base') !default;

// social colors
$social-colors: () !default;
$social-colors: map.merge(
  (
    'facebook': #3b5999,
    'twitter': #1da1f2,
    'youtube': #ff0000,
    'pinterest': #bd081c,
    'linkedin': #0077b5,
    'snapchat': #fffc00,
    'whatsapp': #25d366,
    'tumblr': #36465d,
    'reddit': #ff4500,
    'spotify': #1ed760,
    'amazon': #ff9900,
    'medium': #02b875,
    'vimeo': #1ab7ea,
    'skype': #00aff0,
    'dribbble': #ea4c89,
    'slack': #4a154b,
    'yahoo': #430297,
    'twitch': #6441a4,
    'discord': #7289da,
    'telegram': #0088cc,
    'google-plus': #db4437,
    'messenger': #0084ff,
  ),
  $social-colors
);

// https://sass-lang.com/documentation/values/maps#immutability
// mix colors with white/black to generate light/dark level
@mixin set-color-mix-level(
  $type,
  $number,
  $mode: 'light',
  $mix-color: $color-white
) {
  $colors: map.deep-merge(
    (
      $type: (
        '#{$mode}-#{$number}':
          mix(
            $mix-color,
            map.get($colors, $type, 'base'),
            math.percentage(math.div($number, 10))
          ),
      ),
    ),
    $colors
  ) !global;
}

// $colors.primary.light-i
// --vs-color-primary-light-i
// 10% 53a8ff
// 20% 66b1ff
// 30% 79bbff
// 40% 8cc5ff
// 50% a0cfff
// 60% b3d8ff
// 70% c6e2ff
// 80% d9ecff
// 90% ecf5ff
@each $type in $types {
  @for $i from 1 through 9 {
    @include set-color-mix-level($type, $i, 'light', $color-white);
  }
}

// --vs-color-primary-dark-2
@each $type in $types {
  @include set-color-mix-level($type, 2, 'dark', $color-black);
}

$vsVar: () !default;
$vsVar: map.merge(
  (
    'shadow-opacity': 0.05,
    'radius': 20px,
    'background-opacity': 0.2,
  ),
  $vsVar
);

$moreColor: () !default;
$moreColor: map.merge(
  (
    'gray-1': #f9fcfd,
    'gray-2': #f4f7f8,
    'gray-3': #f0f3f4,
    'gray-4': #e6e9ea,
    'divider': #ced0d4,
    'text': #2c3e50,
    'background': #ffffff,
  ),
  $moreColor
);

$text-color: () !default;
$text-color: map.merge(
  (
    '': #303133,
    'regular': #606266,
    'secondary': #909399,
    'placeholder': #a8abb2,
    'disabled': #c0c4cc,
  ),
  $text-color
);

$border-color: () !default;
$border-color: map.merge(
  (
    '': #dcdfe6,
    'light': #e4e7ed,
    'lighter': #ebeef5,
    'extra-light': #f2f6fc,
    'dark': #d4d7de,
    'darker': #cdd0d6,
  ),
  $border-color
);

$fill-color: () !default;
$fill-color: map.merge(
  (
    '': #f0f2f5,
    'light': #f5f7fa,
    'lighter': #fafafa,
    'extra-light': #fafcff,
    'dark': #ebedf0,
    'darker': #e6e8eb,
    'blank': #ffffff,
  ),
  $fill-color
);

// Background
$bg-color: () !default;
$bg-color: map.merge(
  (
    '': #ffffff,
    'page': #f2f3f5,
    'overlay': #ffffff,
  ),
  $bg-color
);

// Border
$border-width: 1px !default;
$border-style: solid !default;
$border-color-hover: getCssVar('text-color', 'disabled') !default;

$border-radius: () !default;
$border-radius: map.merge(
  (
    'base': 4px,
    'small': 2px,
    'round': 20px,
    'circle': 100%,
    'full': 99999px,
  ),
  $border-radius
);

// Box-shadow
$box-shadow: () !default;
$box-shadow: map.merge(
  (
    '': (
      0px 12px 32px 4px rgba(0, 0, 0, 0.04),
      0px 8px 20px rgba(0, 0, 0, 0.08),
    ),
    'light': (
      0px 0px 12px rgba(0, 0, 0, 0.12),
    ),
    'lighter': (
      0px 0px 6px rgba(0, 0, 0, 0.12),
    ),
    'dark': (
      0px 16px 48px 16px rgba(0, 0, 0, 0.08),
      0px 12px 32px rgba(0, 0, 0, 0.12),
      0px 8px 16px -8px rgba(0, 0, 0, 0.16),
    ),
  ),
  $box-shadow
);

// Typography
$font-family: () !default;
$font-family: map.merge(
  (
    // default family
    '':
      "'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif"
  ),
  $font-family
);

$font-size: () !default;
$font-size: map.merge(
  (
    'extra-large': 20px,
    'large': 18px,
    'medium': 16px,
    'base': 14px,
    'small': 13px,
    'extra-small': 12px,
  ),
  $font-size
);

// zIndex
$z-index: () !default;
$z-index: map.merge(
  (
    'normal': 1,
    'top': 1000,
    'popper': 2000,
  ),
  $z-index
);

// Disable default
$disabled: () !default;
$disabled: map.merge(
  (
    'bg-color': getCssVar('fill-color', 'light'),
    'text-color': getCssVar('text-color', 'placeholder'),
    'border-color': getCssVar('border-color', 'light'),
  ),
  $disabled
);

$common-component-size: () !default;
$common-component-size: map.merge(
  (
    'large': 40px,
    'default': 32px,
    'small': 24px,
  ),
  $common-component-size
);

// overlay
$overlay-color: () !default;
$overlay-color: map.merge(
  (
    '': rgba(0, 0, 0, 0.8),
    'light': rgba(0, 0, 0, 0.7),
    'lighter': rgba(0, 0, 0, 0.5),
  ),
  $overlay-color
);

// mask
$mask-color: () !default;
$mask-color: map.merge(
  (
    '': rgba(255, 255, 255, 0.9),
    'extra-light': rgba(255, 255, 255, 0.3),
  ),
  $mask-color
);

// transition
$transition: () !default;
$transition: map.merge(
  (
    'all': all getCssVar('transition-duration')
      getCssVar('transition-function-ease-in-out-bezier'),
    'ease': all getCssVar('transition-duration')
      getCssVar('transition-function-ease'),
    'fade': opacity getCssVar('transition-duration')
      getCssVar('transition-function-fast-bezier'),
    'md-fade': (
      transform getCssVar('transition-duration')
        getCssVar('transition-function-fast-bezier'),
      opacity getCssVar('transition-duration')
        getCssVar('transition-function-fast-bezier'),
    ),
    'fade-linear': opacity getCssVar('transition-duration-fast') linear,
    'border': border-color getCssVar('transition-duration-fast')
      getCssVar('transition-function-ease-in-out-bezier'),
    'box-shadow': box-shadow getCssVar('transition-duration-fast')
      getCssVar('transition-function-ease-in-out-bezier'),
    'color': color getCssVar('transition-duration-fast')
      getCssVar('transition-function-ease-in-out-bezier'),
  ),
  $transition
);

$transition-duration: () !default;
$transition-duration: map.merge(
  (
    '': 0.25s,
    'fast': 0.2s,
  ),
  $transition-duration
);

$transition-function: () !default;
$transition-function: map.merge(
  (
    'ease-in-out-bezier': cubic-bezier(0.645, 0.045, 0.355, 1),
    'fast-bezier': cubic-bezier(0.23, 1, 0.32, 1),
    'ease': ease,
  ),
  $transition-function
);

// Break-point
$sm: 768px !default;
$md: 992px !default;
$lg: 1200px !default;
$xl: 1920px !default;

$breakpoints: (
  'xs': '(max-width: #{$sm})',
  'sm': '(min-width: #{$sm})',
  'md': '(min-width: #{$md})',
  'lg': '(min-width: #{$lg})',
  'xl': '(min-width: #{$xl})',
) !default;

$breakpoints-spec: (
  'xs-only': '(max-width: #{$sm - 1})',
  'sm-and-up': '(min-width: #{$sm})',
  'sm-only': '(min-width: #{$sm}) and (max-width: #{$md - 1})',
  'sm-and-down': '(max-width: #{$md - 1})',
  'md-and-up': '(min-width: #{$md})',
  'md-only': '(min-width: #{$md}) and (max-width: #{$lg - 1})',
  'md-and-down': '(max-width: #{$lg - 1})',
  'lg-and-up': '(min-width: #{$lg})',
  'lg-only': '(min-width: #{$lg}) and (max-width: #{$xl - 1})',
  'lg-and-down': '(max-width: #{$xl - 1})',
  'xl-only': '(min-width: #{$xl})',
) !default;

// Icon
// css3 var in packages/theme-chalk/src/icons
$icon: () !default;
$icon: map.merge(
  (
    'background': getCssVar('color'),
    'height': 30px,
  ),
  $icon
);

// Components
// ---
// Popup
// css3 var in packages/theme-chalk/src/popup.scss
$popup: () !default;
$popup: map.merge(
  (
    'modal-bg-color': getCssVar('color-black'),
    'modal-opacity': 0.5,
  ),
  $popup
);

// drawer
$drawer: () !default;
$drawer: map.merge(
  (
    'bg-color':
      var(#{getCssVarName('dialog', 'bg-color')}, #{getCssVar('bg-color')}),
    'padding-primary': var(#{getCssVarName('dialog', 'padding-primary')}, 20px),
  ),
  $drawer
);

// Rate
$rate: () !default;
$rate: map.merge(
  (
    'height': 20px,
    'font-size': getCssVar('font-size-base'),
    'icon-size': 18px,
    'icon-margin': 6px,
    // seems not be used, to be removed
    // 'icon-color': getCssVar('text-color-placeholder),
    'void-color': getCssVar('border-color', 'darker'),
    'fill-color': #f7ba2a,
    'disabled-void-color': getCssVar('fill-color'),
    'text-color': getCssVar('text-color', 'primary'),
  ),
  $rate
);

// Scrollbar
// css3 var in packages/theme-chalk/src/scrollbar.scss
$scrollbar: () !default;
$scrollbar: map.merge(
  (
    'thumb-opacity': 0.7,
    'thumb-hover-opacity': 1,
    'thumb-color': getCssVar(gray-3),
    'bar-color': getCssVar(gray-2),
  ),
  $scrollbar
);

// ====================================== NEW =======================================
// Alert Component
// css3 var in packages/theme-chalk/src/alert.scss
$alert: () !default;
$alert: map.merge(
  (
    'bg-light': getColor(color, 0.1),
    'border-radius': 4px 12px 12px 4px,
    'shadow--icon-close': 0px 0px 0px 0px rgba(0, 0, 0, 0.15),
    'shadow--icon-close-hover': 0px 5px 18px 0px rgba(0, 0, 0, 0.15),
    'icon-close-width': 30px,
    'icon-close-height': 30px,
    'font-size': 0.9rem,
    'alert-with-border-height': calc(100% - 2px),
    'alert-with-border-width': calc(100% - 2px),
    'content-text-padding': 20px 15px,
  ),
  $alert
);

// Avatar
// css3 var in packages/theme-chalk/src/avatar.scss
$avatar: () !default;
$avatar: map.merge(
  (
    'badge': getCssVar(primary),
    'width': 44px,
    'height': 44px,
    'badge-position-top': -4px,
    'badge-position-right': -4px,
    'badge-position-bottom': -4px,
    'badge-position-left': -4px,
    'circle-badge-position-top': -2px,
    'circle-badge-position-right': -2px,
    'circle-badge-position-bottom': -2px,
    'circle-badge-position-left': -2px,
    'three-letter-font-size': 0.9rem,
    'four-letter-font-size': 0.8rem,
    'five-letter-font-size': 0.7rem,
    'six-letter-font-size': 0.6rem,
    'point-width': 5px,
  ),
  $avatar
);

// Button
// css3 var in packages/theme-chalk/src/button.scss
$button: () !default;
$button: map.merge(
  (
    // 'color': ' ',
    'color-rotate': getCssVar(primary),
    'color-darken': getCssVar(primary),
    'padding': 10px 16px,
    'margin': 5px,
    'border-radius': 12px,
    'text-color': $color-white
  ),
  $button
);

// Icon Close
// css3 var in packages/theme-chalk/src/icon-close.scss
$iconClose: () !default;
$iconClose: map.merge((), $iconClose);

// Icon Check
// css3 var in packages/theme-chalk/src/icon-check.scss
$iconCheck: () !default;
$iconCheck: map.merge(
  (
    'height': 23px,
    'line-radius': 5px,
  ),
  $iconCheck
);

// checkbox
// css3 var in packages/theme-chalk/src/checkbox.scss
$checkbox: () !default;
$checkbox: map.merge(
  (
    'width': 23px,
    'height': 23px,
  ),
  $checkbox
);

// Navbar
// css3 var in packages/theme-chalk/src/navbar.scss
$navbar: () !default;
$navbar: map.merge(
  (
    'z-index': getCssVar(z-index-top),
    'color': getColor(text),
    'background': getColor(color),
    'border-radius': 0px 0px 15px 15px,
  ),
  $navbar
);

// popper
// css3 var in packages/theme-chalk/src/popper.scss
$popper: () !default;
$popper: map.merge(
  (
    'color': getCssVar(background),
    'background': getCssVar(color),
    'border-radius': 12px,
    'font-size': 0.85rem,
    'arrow-width': 10px,
    'arrow-height': 10px,
  ),
  $popper
);

// Select
// css3 var in packages/theme-chalk/src/select.scss
$select: () !default;
$select: map.merge(
  (
    'width': 200px,
    'min-height': 42px,
    'label-left': 12px,
    'label-offset': 0px,
    'label-font-size': 0.81rem,
    'placeholder-font-size': 0.76rem,
    'suport-font-size': 0.68rem,
    'suport-offset': 6px,
    'input-radius': 12px,
  ),
  $select
);

// Sidebar
// css3 var in packages/theme-chalk/src/sidebar.scss
$sidebar: () !default;
$sidebar: map.merge(
  (
    'z-index': getCssVar(z-index-top),
  ),
  $sidebar
);

// Radio
// css3 var in packages/theme-chalk/src/radio.scss
$radio: () !default;
$radio: map.merge(
  (
    'width': 20px,
    'height': 20px,
    'min-width': 20px,
    'min-height': 20px,
  ),
  $radio
);

// Pagination
// css3 var in packages/theme-chalk/src/pagination.scss
$pagination: () !default;
$pagination: map.merge(
  (
    'font-size': 14px,
    'bg-color': getColor('gray-3'),
    'text-color': getColor('text'),
    'border-radius': 12px,
    'button-color': getColor('text'),
    'button-width': 36px,
    'button-height': 36px,
    'button-disabled-color': getCssVar('text-color-placeholder'),
    'button-disabled-bg-color': getCssVar('gray-3'),
    'button-bg-color': getColor('fill-color'),
    'button-bg-hover': getColor('gray-4'),
    'hover-color': getColor('primary'),
    'font-size-small': 12px,
    'button-width-small': 24px,
    'button-height-small': 24px,
    'item-gap': 16px,
    'button-margin': 2px,
  ),
  $pagination
);

// Table
// css3 var in packages/theme-chalk/src/table.scss
$table: () !default;
$table: map.merge(
  (
    'bg': getCssVar(bg-color),
  ),
  $table
);
